.ipynb_checkpoints/
*.swp
echonet.cfg
.echonet.cfg
*.pyc
echonet.egg-info/

# Ignore Logs and Checkpoints
output/
__pycache__/
slurm_output_*.txt
slurm_error_*.txt
nohup_master_log.txt
*.csv

# Ignore any tensors or model weights saved here
*.pt
*.pth
